.contentContainer {
    background-color: var(--background);
    width: 100%;

    > div {
        max-width: 900px;
        margin: 0 auto;
        width: 100%;

        padding: 3rem 5%;
        transition: .2s;

        animation: initAnimation .2s;

        h1 {
            color: var(--gray);

            span {
                color: var(--white);
            }
        }

        .containerCards {
            margin: 3rem 0;

            display: flex;
            // justify-content: ce;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }


}

@keyframes initAnimation {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}